
* {
  cursor: default;
  font-family: 'Inconsolata', 'Noto Sans TC', sans-serif;
}
body {
  background-color: rgba(64, 64, 64, 5);
  color: white;
  font-family: 'Inconsolata', 'Noto Sans TC', sans-serif;
  font-size: 25px;
  text-align: center;
  overflow: hidden;
  width: 100vw;
  height: 15vh;
  border-radius: 10px 10px 10px 10px;
}

.card {
  width: 90%;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  border-radius: 5px;
  margin-top: 20px;
}

.myButton {
  margin-top: 20px;
  width: 90%;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  background-color:#f9f9f9;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:#666666;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
  background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
  background-color:#e9e9e9;
}
.myButton:active {
  position:relative;
  top:1px;
}
.input {
  background-color: #404040;
  font-family: 'Inconsolata', sans-serif;
  text-align: center;
  color: white;
  font-size: 15px;
  padding: 10px;
}
input[type=text], input[type=password], input[type=number] {
  width: 60%;
  background-color: rgb(64, 64, 64);
  color: white;  
  border: none;
  font-size: 20px;
  border-bottom: 4px solid #ffffff;
}
input[type=text]:focus, input[type=password]:focus, input[type=number]:focus {
  /*background-color: rgba(168, 168, 168, 5);*/
  /*border: none; */
  outline-style: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
a {
  color:inherit;
  text-decoration: none;
 }

.myButton2 {
  box-shadow:inset 0px 39px 0px -24px #e67a73;
  background-color:#e4685d;
  border-radius:4px;
  border:1px solid #ffffff;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  padding:6px 15px;
  text-decoration:none;
  text-shadow:0px 1px 0px #b23e35;
}
.myButton2:hover {
  background-color:#eb675e;
}
.myButton2:active {
  position:relative;
  top:1px;
}

        

